<title><%- title %></title>

<h1><%- title %></h1>

<%- messages() %>

<div id="login">
    <form>
        <label for="account_email">Email: </label><br>
        <input type="account_email" id="account_email" name="account_email"><br>
    
        <label for="account_password">Password: </label><br>
        <input type="account_password" id="account_password" name="account_password"><br>
        
        <input type="submit" value="Log In">
    </form>
    <p>No Account? <span><a href="/account/registeration">Sign-Up</a></span></p>
</div>


