<title><%- title %></title>

<h1><%- title %></h1>

<%- messages() %>

<div id="register">
    <form>
        <label for="account_firstname">First name: </label><br>
        <input type="text" id="account_firstname" name="account_firstname"><br>

        <label for="account_lastname">First name: </label><br>
        <input type="text" id="account_lastname" name="account_lastname"><br>

        <label for="account_email">Email: </label><br>
        <input type="account_email" id="account_email" name="account_email"><br>
    
        <label for="account_password">Password: </label><br>
        <input type="account_password" id="account_password" name="account_password"><br>
        
        <input type="submit" value="Register">
    </form>
    <!-- <p>No Account? <span><a href="/account/registeration">Sign-Up</a></span></p> -->
</div>
