/******* Change Box Model ***************/

/*https://coolors.co/08a4bd-aa78a6-d72638-302b27-f5f3f5 */
*,
*:before,
*:after {
  box-sizing: border-box;
}



#wrapper {
  
  background-color: white;
  max-width: 1200px;
  padding: 10px;
}

#vehicle-banner {
  text-align: center;
  position: relative;
}

#vehicle-mess {
  width: 150px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  position: absolute;
  font-size: smaller;
  line-height: 0px;
  padding: 5px;
}

#own{
  width: 50%;
}

.siteName, #tools  {
  font-size: 20px;
  
  text-decoration: none;
}

.siteName a, #tools a  {
  color: black;
  text-decoration: none;
}


#top-header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px;
  
  font-family: 'Poiret One', cursive;
  font-weight: bold;

  
  
}

h1, h2, h3, a {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

p, li {
  font-family: 'IBM Plex Serif', serif;
}

nav {
  
  background-color: #0ACDEB;
}

.copyright {
  text-align: center;
}

#reviews {
  line-height: 40px;
}


#upgrades {
  
  
  text-align: center;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}

.upgrade {
  background-color: #0ACDEB;
  width: 150px;
  padding: 10px;
  text-align: center;
  
}

.upgrade >* {
  margin: 0 auto;
  display: block;
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 450px) {
  body {
    background: url("/images/site/small_check.jpg");
  }

  #section {
    display: flex;
    justify-content: space-around;
  }

  #wrapper {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: solid #0ACDEB 10px;
  }

  #vehicle-mess {
    width: 40%;
    text-align: center;
    font-size: large;
    top: 30px;
    line-height: 10px;
  }


}