/******* Change Box Model ***************/

/*https://coolors.co/08a4bd-aa78a6-d72638-302b27-f5f3f5 */
*,
*:before,
*:after {
  box-sizing: border-box;
}



#wrapper {
  
  background-color: white;
  max-width: 1200px;
  padding: 10px;
}

#vehicle-banner {
  text-align: center;
  position: relative;
}

#vehicle-mess {
  width: 150px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  top: 0;
  position: absolute;
  font-size: smaller;
  line-height: 0px;
  padding: 5px;
}

#own{
  width: 50%;
}

.siteName, #tools  {
  font-size: 20px;
  
  text-decoration: none;
}

.siteName a, #tools a  {
  color: black;
  text-decoration: none;
}


#top-header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px;
  
  font-family: 'Poiret One', cursive;
  font-weight: bold;

  
  
}

h1, h2, h3, a {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

p, li {
  font-family: 'IBM Plex Serif', serif;
}

nav {
  
  background-color: #0ACDEB;
}

.copyright {
  text-align: center;
}

#reviews {
  line-height: 40px;
}


#upgrades {
  
  
  text-align: center;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}

.upgrade {
  background-color: #0ACDEB;
  width: 150px;
  padding: 10px;
  text-align: center;
  
}

.upgrade >* {
  margin: 0 auto;
  display: block;
  color: black;
  text-decoration: none;
}


/* Inventory Page */

#inv-display  {
  display: grid;
  grid-template-columns: 1fr;
  
  list-style-type: none;

  
  
  
}

#inv-display >* {
  text-align: center;
  margin: 20px;
  margin-right: 50px;
  padding: 10px;
  background-color: #0ACDEB;
  border-radius: 10px;
  border: solid 5px black;
}

#inv-display li >* {
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  
}

#inv-display li img {

  margin-top: 20px;
  
}



/*inventory item view*/



#car-image {

  width: 80%;
}


#image-cont {
  text-align: center;
}



/*login page*/

#login, #register {
  text-align: center;
  background-color: #0ACDEB;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
  font-size: 1.2em;
}

input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

@media screen and (min-width: 450px) {
  body {
    background: url("/images/site/small_check.jpg");
  }

  #section {
    display: flex;
    justify-content: space-around;
  }

  #wrapper {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: solid #0ACDEB 10px;
  }

  #vehicle-mess {
    width: 40%;
    text-align: center;
    font-size: large;
    top: 30px;
    line-height: 10px;
  }

  #inv-display  {
   
    grid-template-columns: 1fr 1fr 1fr;
    
  
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

  }

  #login, #register {
    
    width: 50%;
    
  }


}