

<h1><%- title %></h1>

<%- messages() %>

<p>Add new classification <span><a href="/inv/newClassification">Add Classification</a></span></p>

<p>Add new inventory item <span><a href="/inv/newInvItem">Add Inventory Item</a></span></p>