

<h1><%- title %></h1>

<%- messages() %>

<p>Add new classification <span><a href="/inv/newClassification">Add Classification</a></span></p>

<p>Add new inventory item <span><a href="/inv/newInvItem">Add Inventory Item</a></span></p>

<h2>Manage Inventory</h2>

<p>Select classification</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>